@font-face {
    font-family: 'Iosevka';

    src: url('https://cdn.jsdelivr.net/gh/kaushalmodi/iosevka-mirror@v1.14.1/woff2/iosevka-ss08-regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/kaushalmodi/iosevka-mirror@v1.14.1/woff/iosevka-ss08-regular.woff') format('woff')
}

:root {
    --accent-color: #ccbcff;
    --blurple: #7289DA;
    --elixire-bg: #dabdab;
    --xmpp-bg: #13b0e5;
}

html,
body {
    /* colors taken from fairyfloss */
    background: #5a5475;
    color: #f8f8f0;

    /* i just love iosevka */
    font: 16px/1.8 Iosevka;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

::selection {
    background: var(--accent-color);
    color: #fff;
}

@media (max-width: 500px) {
    html,
    body {
        display: inherit !important;
    }

    body {
        padding: 2rem;
    }

    main {
        width: 100%;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

s { 
    text-decoration: line-through;
}

strong.elixire-box {
    border: 5px solid var(--elixire-bg);
    background-color: var(--elixire-bg);
    color: #000;
}

strong.discord-box {
    border: 5px solid var(--blurple);
    background-color: var(--blurple);
    color: #000;
}

strong.xmpp-box {
    border: 5px solid var(--xmpp-bg);
    background-color: var(--xmpp-bg);
    color: #000;
}
